* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(226, 226, 226);    
}

.main-container {
    display: flex;
    height: 100vh;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 10px;
    font-size: 32px;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}

.calculator {
    background-color: rgb(44, 44, 44);
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(119, 118, 118, 0.378);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calc-wrapper {
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
}

.calc-display {
    background-color: rgb(133, 133, 133);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    height: 150px;
}

.calc-display .upper {
    font-size: 24px;
    background-color: rgb(133, 133, 133);
}

.calc-display .lower {
    font-size: 96px;
    background-color: rgb(133, 133, 133);
}

.calc-buttons {
    background-color: rgb(44, 44, 44);
    display: grid;
    padding: 10px;
    gap: 10px;
}

.operators-grid,
.numbers-grid {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}


.operators, .numbers, .backspace, .equals, .clear {
    background-color: rgb(85, 85, 85);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border: 1px solid rgba(190, 190, 190, 0.378);
    border-radius: 30px;
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}

.operators {
    background-color: rgb(211, 137, 0);
}

.operators:hover, .numbers:hover, .backspace:hover, .equals:hover, .clear:hover  {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.numbers.clicked {
    background-color: dodgerblue;
    color: white;
}
.operators.clicked {
    background-color: rgb(143, 88, 29);
    color: white;
}
.clear.clicked, .backspace.clicked {
    background-color: rgb(183, 34, 34);
    color: white;
}
.equals.clicked {
    background-color: rgb(20, 60, 99);
    color:white;
}
.zero {
    grid-column: span 3;
}

.clear, .backspace {
    background-color: rgb(223, 85, 85);
}

.equals {
    grid-row: span 2;
    background-color: dodgerblue;
}

.footer {
    padding: 10px;
}
